body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font:50px;
}
h2{
    font-size: 40px;
}
p{
    color:rgb(14, 1, 1);
}
.name-highlight{
    color:brown;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.profile{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
   text-decoration: none;
   background-image: linear-gradient(lightsalmon, tomato);
   padding:10px 20px;
   border-radius: 10px;
   color:black;
   font-weight: 700;
}

.dream-area{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.d{
    box-shadow: 10px 10px 40px brown;
    border-radius: 10px;
    height: 80%;
    background-color: white;
}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stcak{
    border-left: 8px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#dj-party{
    border-left:8px solid;
    border-image:linear-gradient(180deg,blue,yellow);
    border-image-slice: 1;
}
footer p{
    text-align:center;
    font-size: 12px;
}